<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">
	
	<!--<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">-->
	    <!--<property name="securityManager" ref="securityManager"/>-->
	    <!--<property name="loginUrl" value="/unauthorized"/>-->
	    <!--<property name="successUrl" value="/home"/>-->
	    <!--<property name="unauthorizedUrl" value="/anon/common/unauthorized"/>-->
	    <!--<property name="filterChainDefinitions">-->
	        <!--<value>-->
	            <!--/anon/**=anon-->
	            <!--/user/**=authc-->
	            <!--/common/*=anon-->
	            <!--/login=anon-->
	            <!--/unauthorized=anon-->
	        <!--</value>-->
	    <!--</property>-->
	<!--</bean>-->
	
	<!--<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">-->
	    <!--<property name="realm" ref="shiroDataBaseRealm"/>-->
	<!--</bean>-->

	<!--<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>-->
	<!--<bean id="userService" class="com.gzt.service.user.impl.UserServiceImpl"></bean>-->
	<!-- security datasource: -->
	<!--<bean id="shiroDataBaseRealm" class="com.gzt.security.ShiroDataBaseRealm">-->
		<!--<property name="userService" ref="userService"/>-->
	<!--</bean>-->
	
</beans>