<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>无标题文档</title>
</head>

<body>
<div style="line-height:1.5em">
<p style="text-align:center;font-weight:bold;">用户协议</p><br/>
【导言】<br />
欢迎您使用爽付贵州软件及服务！ <br />
为使用爽付贵州软件（以下简称&ldquo;本软件&rdquo;）及服务，您应当阅读并遵守《爽付贵州软件许可及服务协议》（以下简称&ldquo;本协议&rdquo;），请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议。 <br />
除非您已阅读并接受本协议所有条款，否则您无权使用本软件及相关服务。 <br />
您的下载、安装、使用、获取帐号、登录等行为即视为您已阅读并同意上述协议的约束。 <br />
如果您未满18周岁，请在法定监护人的陪同下阅读本协议。 <br /><br />
【会员帐号及密码】 <br />
用户注册会员成功后，本软件将默认手机号为账号，并给予一个相应的密码，该帐号和密码由用户负责保管，用户应当对以其用户帐号进行的所有活动和事件负法律责任。 <br />
因黑客行为或会员保管疏忽致使帐号、密码被他人非法使用的，本公司不承担任何责任。 <br />
如您发现任何非法使用会员帐号或安全漏洞的情况，请立即与本公司联系。 <br /><br />
【使用规则】 <br />
1、用户在本服务中或通过本服务所传送、发布的任何内容并不反映或代表，也不得被视为反映或代表本软件的观点、立场或政策，本软件对此不承担任何责任。 <br />
2、用户不得利用本软件账号进行如下行为： <br />
(1) 提交、发布虚假信息，或盗用他人头像或资料，冒充、利用他人名义的； <br />
(2) 将账号借给他人使用； <br />
(3) 利用技术手段批量建立虚假账号的； <br />
(4) 利用本软件账号从事任何违法犯罪活动的； <br />
(5) 制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的； <br />
(6) 其他违反法律法规规定、侵犯其他用户合法权益、干扰本软件正常运营或本软件未明示授权的行为。 <br />
3、用户须对利用本软件账号传送信息的真实性、合法性、无害性、准确性、有效性等全权负责，与用户所传播的信息相关的任何法律责任由用户自行承担，与本软件无关。<br />  
如因此给本软件或第三方造成损害的，用户应当依法予以赔偿。 <br />
4、本软件提供的服务中可能包括广告，用户同意在使用过程中显示本软件和第三方供应商、合作伙伴提供的广告。
<br />除法律法规明确规定外，用户应自行对依该广告信息进行的交易负责，对用户因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，本软件不承担任何责任。 <br /><br />
【隐私条款】 <br />
保护用户隐私是本公司的一项基本政策, 本公司保证不对外公开或向第三方提供用户的注册资料,但下列情况除外: <br />
1、事先获得用户的书面明确授权;<br />
2、根据有关的法律法规要求;<br />
3、按照相关政府主管部门的要求;<br />
4、为维护社会公众的利益;<br />
5、为维护本公司的合法权益。 </div>
</body>
</html>
